<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta name="applicable-device" content="pc">
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="true"/>
<title>${field.typetitle}</title>
<meta name="keywords" content="${field.typekeyword}">
<meta name="description" content="${field.typedescrip}">
<link rel="stylesheet" href="/{ms:global.style/}css/animate.min.css">
<link rel="stylesheet" href="/{ms:global.style/}css/swiper.min.css">
<link rel="stylesheet" href="/{ms:global.style/}css/style.css">
<script src="/{ms:global.style/}js/jquery.min.js"></script>
<script src="/{ms:global.style/}js/wow.min.js"></script>
<script src="/{ms:global.style/}js/swiper.min.js"></script>
<script src="/{ms:global.style/}js/style.js"></script>
</head>
<body>
<#include "head.htm" />
{ms:channel type='parent'}<div class="banner-sub" style="background-image: url({@ms:file field.typelitpic/});"></div>{/ms:channel}
<#include "ss.htm" />
<div class="section-sub">
  <div class="container">
    <div class="yunu-curmbs"> <span>您的位置：</span> <a href="/" class="ms-channel-path-index"> 首页 </a>{ms:channel type="path"}     >> <a href={ms:global.html/}${field.typelink} class="ms-channel-path-link">         ${field.typetitle}  </a>     {/ms:channel} </div>
    <div class="yunu-menu-inner clearfix"> 
    <#if field.typeleaf == 0>
    {ms:channel type='son'}

    <a href='<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>' <#if field.typeid == typeid || (ids?has_content && ids?split(",")?seq_contains(field.typeid.toString()))>class="active"
</#if>><span>${field.typetitle}</span></a> 
    
{/ms:channel}
<#else>
    {ms:channel type='level'}

    <a href='<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>' <#if field.typeid == typeid || (ids?has_content && ids?split(",")?seq_contains(field.typeid.toString()))>class="active"
</#if>><span>${field.typetitle}</span></a> 
    
{/ms:channel}
</#if>
    </div>
    <div class="section-title"> <strong>联系我们</strong>
      <p>七天内快速提供多套应用方案</p>
    </div>
    <div class="contact-1">
      <h4> 尊敬的访客：</h4>
      <p> 当您进入&ldquo;联系我们&rdquo;的页面时，您已经成为我们的准客户，欢迎您来到北京服装定制有限公司官方网站。您可以通过以下几种方式联系到我们。</p>
    </div>
    <dl class="contact-2 clearfix">
      <dt class="img-center"><img src="{@ms:file field.typeico/}" alt=""></dt>
      <dd>
        <h4>某某公司</h4>
        <p class="i1">联系电话：18888888888</p>
        <p class="i2">座机号码：488-888-8888</p>
        <p class="i3">联系邮箱：123456789@qq.com</p>
        <p class="i4">联系地址：北京市天安门</p>
      </dd>
    </dl>
  </div>
</div>
<#include "foot.htm" />
</body>
</html>
